게임진행방식  
1. 기본적인 원카드의 룰을 따른다  
  1.1 게임시작시에 모든인원은 동일하게 7장의 카드를 가진채 시작한다  
  1.2 ♥5가 제시되어 있다면 ♥ 모양의 카드나 숫자가 5인 카드만 낼 수 있다  
  1.3 K카드는 추가로 한장 더 낼 수 있다 이때, 또다른 K카드 혹은 제출한K카드와 동일한 문양의 카드를 낼 수 있다  
  1.4 J카드는 내 다음순서인 상대를 건너뛰어서 진행한다  
  1.5 Q카드는 진행방향을 역순으로 바꾼다  
  1.6 7카드는 7을 낸 사람이 원하는 문양으로 바꾸어 게임을 진행시킨다  
  1.7 서로 다른문양이면서 같은숫자의 카드는 연속해서 낼 수 있으며 추가점수를 획득한다  



@-----------------  

 11.03 add  

랜덤패턴  
외부에 int turn 선언하고 타켓카드에 카드가 올라가는 장수만큼 ++1  
Int turn == 20~ 28(random range) 올라갈 때마다 패턴 발생  
패턴 발생 시 이벤트 씬 or 사진 등장 후 게임화면으로 돌아감  
- 플레이중 혼동이 오지 않도록 시각적인 알람을 크게 주도록 한다  

A패턴  Changelogo()
- 테이블에 제시된 문양을 제외한 랜덤한 문양으로 변경시킨다  
- ex) 테이블에 ♥제시되어있을때에 ♠로 바꿔버린다  

B패턴 Handdamage() 
- 패턴발동 시점에서 자신의 패(N개)에 있는 카드의 장수가 7장 이상일 경우 (N-7)*-10점만큼 획득한다 

패턴종료시 외부에 선언된 int turn = 1로 초기화  


콤보 제어  
제출 가능한 카드 타겟카드쪽으로 제출  
콤보 가능한 카드 소지 중일 때 턴 넘기지 않음 ex) 하트8 제출 후 패에 다이아8 소지 중일 때  
콤보 발동하고 싶지 않을 때 턴 넘기기 버튼 클릭하면 berak로 빠져나옴  
턴 넘기기 버튼은 invisible상태, 위의 조건 만족할 경우에만 visible   

@-----------------  



공격방식  
1. 2카드는 다음 상대방에게 2장의 카드를 먹인다  
  1.1 다른 문양의 2카드로 2장을 추가하며 다음 상대방에게 넘긴다  
  1.2 동일한 문양의 A카드로 3장을 추가하며 다음 상대방에게 넘긴다  
  1.3 흑백조커 카드로 7장을 추가하며 다음 상대방에게 넘긴다  
  1.4 컬러조커 카드로 10장을 추가하며 다음 상대방에게 넘긴다  
  
2. A카드는 다음 상대방에게 3장의 카드를 먹인다  
  2.1 ♠A는 3장이 아닌 5장의 카드를 먹인다  
  2.2 다른 문양의 A카드로 3장을 추가하며 다음 상대방에게 넘긴다  
  2.3 흑백조커 카드로 7장을 추가하며 다음 상대방에게 넘긴다  
  2.4 컬러조커 카드로 10장을 추가하며 다음 상대방에게 넘긴다  
  
3. 조커카드는 다음 상대방에게 흑백7장, 컬러10장 만큼 공격한다  
  3.1 조커카드의 방어는 조커카드로만 가능하며 합한 장수만큼 다음상대에게 넘긴다  
    
    
    
방어방식  
1. 공격카드A와 2는 같은 문양의 3카드로 방어할 수 있으며 공격대상을 내 다음턴의 상대에게 돌리게 된다  
2. 조커카드의 공격은 3카드로 방어 할 수 없으며 조커카드끼리만 방어가 가능하다  



점수획득방식  
1. 카드를 낼 때마다 +10점을 획득한다  
  1.1 카드를 연속으로 낼 때 마다 추가로 +20, +40, +60, +80, +100 점씩 획득한다  
  1.2 카드를 연속으로 낼 때 추가되는 최고점수는 100점으로 한정한다  
  
2. 모든 카드를 소진하였을 경우 순서대로 차등점수를 획득한다  
  2.1 1등 500점 2등 300점 3등 100점  
  
  
  
점수차감방식  
1. 본인의 차례에 카드를 제출하지 못할경우 -10점을 획득한다  
2. 공격카드 A, 2, 흑백조커, 컬러조커에 방어하지 못할경우 획득한 카드*-10점을 획득한다  
  
  
  
게임종료조건  
1. 3명의 유저가 모든 카드를 제출 하였을 경우  

2. 소지한 카드의 갯수가 20장 이상이 되어 파산한 경우  
  2.1 파산한 대상은 자동 4등이 된다  
  2.2 파산대상이 나왔을 당시 소지중인 카드의 갯수가 낮은 순으로 차등점수를 획득한다  
  
  
AI알고리즘  
게임진행  
1. 제시된 카드와 동일한 무늬(A) 또는 동일한 숫자의 카드(B)가 있을 경우 카드를 제출 하여 +10점을 획득한다  
  1.1 A와 B의경우 둘 다 만족하는 상황일 경우  
    1.1a B의 경우로 제출할 카드의 문양이 소지중인 카드의 문양의 50%이상이라면 B의 경우로 제출한다  
    1.1b B의 경우로 제출할 카드의 문양이 소지중인 카드의 문양의 50%미만일 경우 A의 경우로 제출한다  
      1.1b.1 A의 경우 Q, J카드를 우선적으로 제출한다  
    
2. A와 B의경우 둘 다 제출이 불가능 할 경우 카드를 한장 획득하며 -10점을 획득한다  

3. 7카드를 제출하였을 경우 소지하고있는 카드의 무늬가 많은것으로 변경시킨다  
  3.1 소지중인 카드의 무늬들의 갯수가 동일한 경우 ex(♠2장, ♡2장) 둘 중 랜덤한 문양으로 변경시킨다  
  
4. 다른문양, 동일한숫자의 카드를 2장이상 소지중일 경우 해당 장수만큼 동시에 내며 추가점수를 획득하도록 한다  
-ex) ♠k, ♠5, ♡5를 동시에 제출하여 +10+20+40 점을 획득한다  

5. K카드를 소지중일 때 소지중인 K카드와 동일한 문양의 카드가 없을 경우 K카드를 제출하지 않는다  
  5.1 자신의 차례에 소지중인K카드의 제출이 가능하며 패에 남은 카드가 1장일 경우 위의 조건을 무시하며 제출한다  



공격  
- 나에게 공격카드인 A, 2, 조커카드가 있는 상황  
  1. 공격에 해당되는 카드의 제출을 최하순으로 두며 진행한다  
  2. 나의 후순서인 사람의 수중에 카드가 4장 이하일 경우 공격카드를 제출하여 점수획득을 저지한다  
    2.2 공격카드제출은 2, A, 조커카드 우선순으로 제출한다  
  


방어  
- 내 앞사람이 공격카드인 A또는 2카드를 제출한 상황  (2를받은경우에는 A, 2가 공격카드이며  A를받은 경우에는 A만 공격카드)
1. 공격카드, 방어카드, 조커카드 모두 소지한 상황
  1.1 후순서의 상대의 패에 카드가 10장 이상일 경우 조커카드를 제출한다 (파산유도)  
  1.2 후순서의 상대방의 패에 카드가 5장 이하일 경우 공격카드를 제출한다  
  1.3 그 외의 경우 방어카드를 제출한다  
  
2. 공격카드, 방어카드를 소지한 경우  
  2.1 후순서의 상대방의 패에 카드가 5장 이하일 경우 공격카드를 제출한다  
  2.2 그 외의 경우 방어카드를 제출한다  
  
3. 공격카드, 조커카드를 소지한 경우  
  3.1 후순서의 상대의 패에 카드가 10장 이상일 경우 조커카드를 제출한다 (파산유도)  
  3.2 그 외의 경우 공격카드를 제출한다  
  
4. 방어카드, 조커카드를 소지한 경우
  4.1 후순서의 상대의 패에 카드가 10장 이상일 경우 조커카드를 제출한다 (파산유도)  
  4.2 그 외의 경우 방어카드를 제출한다  
  
5. 공격카드만 소지한 경우 
  5.1 공격카드를 제출한다  

6. 방어카드만 소지한 경우  
  6.1 방어카드를 제출한다  

7. 조커카드만 소지한 경우  
  7.1 조커카드를 제출한다  

8. 공격, 방어, 조커 모두 소지하지 못한 경우  
  8.1 공격에 해당한 카드의 장수만큼 획득하며 -n의 점수를 획득한다  



